.events__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    .events__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        p:first-child {
            font-size: 2em;
            font-weight: 600;
            margin: 200px 30% 0 30%;
        }
        p:nth-child(2) {
            margin: 16px 21% 0 21%;
        }
    }
    .events__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        p {
            text-align: center;
            font-size: 2em;
            font-weight: 600;
        }
        .events__main__scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 65px 18% 200px 18%;
            gap: 50px;
            
        }
    }
}
