.connect__wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 200px auto;
	max-width: 1920px;

	.connect__wrapper__top {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		.connect__wrapper__top__header {
			margin: 0 auto;
			text-align: center;
			p:first-child {
				font-size: 2em;
				font-weight: 600;
				white-space: nowrap;
			}
			p:nth-child(2) {
				margin: 0 22%;
			}
		}
		.connect__wrapper__top__socials {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 64px auto;
			img {
				max-height: 82px;
				min-height: 32px;
				height: 5vw;
				margin: 0 20px;
			}
		}
	}
	.connect__wrapper__email {
		display: flex;
		flex-direction: column;
		margin: 200px auto;
		align-items: center;
		.connect__wrapper__email__header {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 0 22%;
			p:first-child {
				font-size: 2em;
				font-weight: 600;
			}
		}
		.connect__wrapper__email__form {
			display: flex;
			justify-content: center;
			justify-items: center;
			align-items: center;
			align-content: center;
			flex-direction: column;
			text-align: start;
			margin: 0 auto;
			font-size: 18px;
			input {
				display: flex;
				margin: 0 auto;
				width: 50vw;
				max-width: 1000px;
				box-shadow: 0px 2px 8px rgba(16, 19, 21, 0.1);
				border-radius: 8px;
				background: #f8f8f8;
				outline: none;
				padding: 12px 24px;
			}
			.connect__wrapper__email__form__message {
				textarea {
					width: 50vw;
					max-width: 1000px;
					resize: none;
					outline: none;
					min-height: 250px;
					padding: 12px 24px;
					background: #f8f8f8;
					box-shadow: 0px 2px 8px rgba(16, 19, 21, 0.1);
					border-radius: 12px;
				}
			}
			@media (max-width: 700px) {
				input {
					min-width: 70vw;
				}
				.connect__wrapper__email__form__message {
					textarea {
						min-width: 70vw;
					}
				}
			}
		}
		.connect__wrapper__email__submit {
			display: flex;
			align-self: center;
			margin-top: 32px;
			button {
				border: 1px solid transparent;
				background-color: #000;
				color: #fff;
				padding: 12px 24px;
				border-radius: 12px;
				font-size: 24px;
				font-weight: 600;
				transition: all 0.4s;
				cursor: pointer;
				&:hover {
					background: #fff;
					color: #000;
					border: 1px solid #000;
				}
			}
		}
	}
}
